<div class="container-fluid header">
  <div class="row">
    <div class="col-sm-1">
      <a routerLink="/" class="menu-voice">Home</a>
    </div>
    <div class="col-sm-1">
      <a *ngIf="!isLogged()" routerLink="/login" class="menu-voice">Login</a>
      <a *ngIf="isLogged()" (click)="logout()" routerLink="/" class="menu-voice">Logout</a>
    </div>
    <div class="col-sm-10"></div>
  </div>
  <nav>
    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navBarContent"
      aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>
    <div class="collapse navbar-collapse" id="navBarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLogged()" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/login">Login</a>
          <a class="nav-link" *ngIf="isLogged()" (click)="logout()" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<div class="container-fluid footer">
</div>